.stately {
    width: 300px;
    /* width and font size must match */
    font-size: 300px;
    /*width and font size must match */
    color: #f0f0f0;
}

.stately .va,
.stately .md,
.stately .dc {
    color: #FF0000;
}